@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

#listaDeProductos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#listaDeProductos div {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: whitesmoke;
  padding: 2rem;
}

table,
table tr th,
table tr td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

table,
table tr th,
table tr td {
 
  margin: 32px 49px 68px 630px;
  background: aliceblue;
  text-align: center;
  justify-content: center;
  justify-items: center;
  width: 35%; 
  color: black;
  font-weight: bold;
}

.border{
  padding: 32px 54px;
  border-radius:22px;  
}


body {    
    gap: 1rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }

h2 {
    color: aliceblue;
    justify-self: center;
    justify-content: center;
    margin: -26px 49px 125px 858px;
}

button { 
  background-color:#4141cc;
  color: #fff;
  border:none; 
  border-radius:10px; 
  padding:15px;
  min-height:30px; 
  min-width: 120px;
}
   